HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Arquivo de propriedades com dados sensíveis 
src/main/resources/application.properties

# Compilação e Artefatos do Java
target/
*.class
*.jar
*.war

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log